.post{
   .container{
    padding: 20px;
    .user{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo{
            display: flex;
            gap: 20px;
            align-items: center;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: contain;
            }
            .details{
                display: flex;
                flex-direction: column;
                .name{
                    font-weight: 500;
                }
                .time{
                    font-size: 12px;
                }
            }
        }
    }
   }
}