@import "../../assets/styles/styles.scss";

.home{
    height: calc(100vh - 70px);
    overflow: scroll;

    @include themify($themes){
        background-color: themed("bgSoft");
    }
    padding: 20px 70px;


    &::-webkit-scrollbar{
        display: none;
    }


}