@import "../../assets/styles/styles.scss";

.profile{
    @include themify($themes){
        background-color: themed("bg");
 
  
    .header{
        position: relative;
        width: 100%;
    
        .cover{
            height: 300px;
            object-fit: cover;
            width: 100%;

            @include mobile{
                height: 150px;
            }
        }
        .pavatar{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            left: 0;
            right: 0;
            top: 200px;
            margin: auto;
            position: absolute;

            @include mobile{
                width: 100px;
                height: 100px;
                top: 100px;
            }
        }
    
    }
    .pContainer{
        padding: 20px 70px;
        @include mobile{
         padding: 20px;
        }
        @include tablet {
            padding: 20px;
         }
    .pInfo{
        padding: 50px;
        border-radius: 20px;
        -webkit-box-shadow: -1px 3px 17px -3px rgba(196,192,196,1);
        -moz-box-shadow: -1px 3px 17px -3px rgba(196,192,196,1);
        box-shadow: -1px 3px 17px -3px rgba(196,192,196,1);
        height: 100px;
        background-color: themed("bg");
        color: themed("textColor");
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        @include mobile{
            padding: 20px;
           }
        span{
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 30px;
        }
        .pDetails{
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
         
            .icon{
                color: aliceblue;
                cursor: pointer;
            }
            .follow{
                background-color: cadetblue;
                color: whitesmoke;
                border: none;
                padding:5px  20px;
                border-radius: 2px;
                cursor: pointer;
            }
            .update{
                background-color: steelblue;
                color: whitesmoke;
                border: none;
                padding:5px  20px;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
}
  }
}